  <!-- <button   (click)="toggleEditor('first')">first</button>

  <button (click)="toggleEditor('second')">second</button>

  <button (click)="toggleEditor('third')">third</button>
  <app-first *ngIf="showNameEditor"></app-first
  <app-second *ngIf="showProfileEditor"></app-second>
  <app-third *ngIf="showthirdEditor"></app-third>


  <router-outlet></router-outlet>
   -->
   <div class="board-inner" id="status-buttons">

   <ul class="nav nav-tabs" id="myTab">
<li>
    <a routerLinkActive="active" 
       routerLink="/first" data-toggle="tab"><span class="round-tabs one">
      <i class="fa fa-user-o "></i>
    </span></a> |
</li>
<li>
    <a routerLinkActive="active" 
       routerLink="/second" data-toggle="tab"><span class="round-tabs one">
        <i class="fa fa-user-o "></i>
      </span></a>  |
</li>
<li>
    <a routerLinkActive="active" 
      routerLink="/third" data-toggle="tab"><span class="round-tabs one">
        <i class="fa fa-user-o "></i>
      </span></a> 
    </li> 
   </ul> 
   <div class="clearfix"></div>

   <div class="board-inner" id="status-buttons">

    <router-outlet></router-outlet>




    